/* ---------------------------------
 *          Image helpers
 * --------------------------------- */
.image .avatar:hover {
  transform: rotate(120deg) scale(0.8);
}
/* ---------------------------------
 *             toc
 * --------------------------------- */
#toc {
  background: transparent;
  box-shadow: none;
}
.post-copyright {
  font-size: 1rem;
  word-break: break-all;
  margin: 1.5rem 0 1.5rem 0;
  padding: 1rem;
  border-left: 3px solid #f14668;
  background-color: #f5f5f5;
}
